<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ai-camp-logo-128x128.png')}}" type="image/x-icon">
    <meta name="description" content="">

    <title>results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  
  <style>
  .myButton {
	width:260px;
 height:60px;
 font-size:16px;
 background-color:#0099ff;
 color:white;
border: none;
 border-radius: 50px;
}
.myButton:hover {
	background-color:#006ed2;
}
.myButton:active {
	position:relative;
	top:1px;
}

       </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navigation main-nav navbar-togglable" style="background-color:rgba(0,0,0,0.7)">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/icons8-medical-64.png')}}" width="60" height="55" alt="">
              </a>
            <a class="navbar-brand" href="#">
                <h3>FraxrAI</h3>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav row">
                        <li class="nav-item ">
                            <a href="/bd4ba755-8986-45a3-a4b9-8cab4c3807ba/port/50234/" class="nav-link">
                                Home
                            </a>
                        </li>
                    </ul>
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .Container -->
    </nav>

    <section id="msg-box4-2" data-rv-view="2" style="background-image: url(https://images.unsplash.com/photo-1450288927903-fa139b0b0b0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1484&q=80)">
        <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
            <div class="container" >  
        <div class="row" style='width:1100px;height:400px;background-color:rgba(47, 137, 235,0.3);border-radius: 20px;paddingleft:40px'>
                <div class="col justify-content-center align-items-center text-center"style='padding-left:50px'>
                     <br/><br/>
                  <br/>
                    <h5 class="section-title display-4"
                        style="color:white;font-size:35px;"
                        >Recognition Results</h5>
                    <h3 class="we-found btn-text display-4" style="color:white;font-size:20px;">We found <strong><span >{{labels}}!</span></strong></h3>

                    {% if labels == 'No Fractures' %}
                    <div style="color:white;font-size:15px;"><i>We missed? See why below.</div></i>
                    {% else %}
                    <div class="lead" style="color:white;font-size:16px;"><em>with {{ confidences }} confidence.</em></div>
                    {% endif %}

                    <a class="mb-0" id='seefood_button'>
                        <form id='seefood_form' method=post enctype=multipart/form-data>
                            <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                        </form>
                      <br/>
                        <button href="#" target="_blank" class="myButton">
                            <i class="fas fa-camera pr-2 left" aria-hidden="true"></i> <b>NEXT IMAGE</b>
                        </button>
                    </a>
                </div>
                <div class="col" style='padding-left:50px' >
                  <br/><br/>
                    <img  src="{{ url_for('static', filename='uploads/' + filename)}}" style="width: auto;height: 300px;border-radius:10px;">
              
                </div>
          <br/><br/>
            </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </section>
      

    <section style=" background-color:#000000; padding-bottom: 60px">
            <div class="row" style="z-index: 0; position:relative">
                <div class="text-center"><br/><br/>
                    <p style=" color:white;font-size:40px">Why do we miss sometimes?</p>
<br/>
                    <div class="lead" >
                        <p style="color:white;font-size:20px;paddingleft:120px" 
                           >Given just three weeks, we only had time to train our model on about 200 images. If we have more time, we could improve our model performance by gathering additional data!&nbsp;</p>
                    </div>
                  <br/>
  <img src="{{ url_for('static', filename='images/results.png')}}" width="75%" height="auto">
                </div>
            </div>
    </section>

    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });
        });
    </script>

</body>

</html>